body
{
    background-image: url('img/59ac7f4c765cff2aeb4784b83897e0af.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0, 0,0, 0.7);
}

.Login-container
{
    background-color: rgba(255,255, 255 , 0.5);
    border: 1px white solid;
    border-radius: 24px;
    width: 630px;
    height: 660px;
  

}